.elements {
  max-width: 880px;
  margin: 0 auto 66px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: 361px;
  gap: 17px;
  border-radius: 10%;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .elements {
    margin-bottom: 48px;
    gap: 20px;
  }
}
