.profile__image-content {
  max-width: 120px;
  max-height: 120px;
  background-image: url(../../../images/EditAva.png);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0);
}
