.auth__signup-ask {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  line-height: 1.17;
  white-space: nowrap;
  margin-top: 15px;
  text-decoration: none;
}

.auth__signup-ask:hover {
    opacity: 0.6;
  }

@media screen and (max-width: 350px) {
  .auth__signup-ask {
    display: none;
  }
}