.profile__add-button {
  background-color: black;
  padding: 0;
  min-height: 50px;
  min-width: 150px;
  border: solid white 2px;
  background-image: url("../../../images/Plus.svg");
  background-size: 22px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 720px) {
  .profile__add-button {
    min-width: 100%;
    background-size: 16px;
  }
}
