.profile__description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 486px;
}

@media screen and (max-width: 1024px) {
  .profile__description {
    min-width: 400px;
  }
}

@media screen and (max-width: 720px) {
  .profile__description {
    min-width: 282px;
    flex-direction: column;
  }
}