.profile__edit-button {
  background-color: black;
  padding: 0;
  height: 24px;
  width: 24px;
  border: solid white 1px;
  background-image: url("../../../images/Pen.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: border-box;
}

.profile__edit-button:focus-within {
  outline: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    background-size: 7.5px;
    position: absolute;
    margin-top: 26px;
    right: -28px;
    top: 10px;
  }
}
